/*
    CSS for portfolio site
    Isaac Ingles
    v.1.0
    2/11/2020

    Colors:
    #77878B - Light Slate Gray
    #305252 - Dark Slate Gray
    #373E40 - Onyx
    #488286 - Wintergreen Dream
    #B7D5D4 - Pale Aqua
    #e7f1f1 - Really Pale Aqua

    Fonts: (Google Fonts)
    Roboto
    Ubuntu
        

*/


/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

/* Begin Custom CSS */

html {
    font-size: 62.5%
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.9;
}

h1 {
    font-size: 3.4rem;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

.main-header {
   
}

.main-header a {
    color: #fff;
    background: #305252;
}

.full-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    padding: 2rem;
}

.section-header {
    text-align: center;
}

.dark-bg {
    background-color: #373E40;
    color: #fff;    
}

.med-bg {
    background-color: #e7f1f1;
    color: #000;     
}

.light-bg {
    background-color: #fff;
    color: #000;
}

.top {
    height: 100vh;
}

.top-photo {
    border-radius: 10rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: .5rem;
}

.form-right {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: .5rem;
}

.form-row input {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    border: none;
}

.contact-form textarea {
    resize: none;
    width: 40rem;
    height: 15rem;
    padding: 1rem 1.5rem;
    border: none;
}

.btn {
	display: inline-block;	
	padding: 1rem 2rem;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	letter-spacing: .17rem;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 2;
	border: .1rem solid transparent;	
	border-radius: .5rem;
	user-select: none;
	cursor: pointer;
}

.contact-form .btn {
    color: #fff;
    background-color: #488286
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 5.2rem;
    }
}